.offerSelection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
}
.offerSelection img{
    margin: 1vmax;
    transition: all 0.5s;
}
.offerSelection  img:hover{
box-shadow: 6px 6px 15px rgba(53,53,53,0.363);
}